.dashboard-content {
    display: flex;
    flex: 1;
    flex-direction: column;
    overflow: auto;
}

.dashboard-content-container {
    margin: 1em;
    background-color: white;
    border: none;
    border-radius: 10px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 25px;
    /* overflow: auto; */
}

.dashboard-content-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.dashboard-content-header h2 {
    margin-top: auto;
    margin-bottom: auto;
    /* color: black; */
    color: #176B87;
    font-size: xx-large;
    font-weight: 700;
}

.dashboard-content-search {
    font-weight: 400;
    line-height: 1.4em;
    letter-spacing: 0.009em;
    box-sizing: border-box;
    cursor: text;
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    position: relative;
    background-color: transparent;
    font-size: 24px;
    width: 200px;
    /* border-radius: 0.375rem;
    border: 1px solid gray; */
}

.dashboard-content-search:focus {
    outline: #2D83B5 auto 1px;
}

.dashboard-content-input {
    font-style: inherit;
    font-variant: inherit;
    font-weight: inherit;
    font-stretch: inherit;
    line-height: inherit;
    font-family: inherit;
    letter-spacing: inherit;
    border: 0px;
    box-sizing: content-box;
    background: none transparent;
    margin: 0px;
    display: block;
    min-width: 0px;
    width: 100%;
    color: #000000;
    font-size: 0.75rem;
    padding: 2px;
    border-radius: 0.375rem;
    border: 1px solid gray;
}

table {
    width: 100%;
    margin: auto;
}

th {
    /* text-align: center; */
    padding: 12px 24px;
    background: transparent;
    box-shadow: none;
    color: #2D83B5;
    font-size: 0.80rem;
    font-weight: 700;
    line-height: 1.25;
    letter-spacing: 0.035em;
    border-bottom: 0.05rem solid rgb(240, 242, 245);
}

tbody {
    display: table-row-group;
}

/* tr,
thead {
    color: inherit;
    display: table-row;
    vertical-align: middle;
    outline: 0px;
} */

td {
    /* text-align: center; */
    padding: 12px 24px;
    background: transparent;
    box-shadow: none;
    border-bottom: 0.05rem solid rgb(240, 242, 245);
}

td div {
    display: flex;
    flex-direction: row;
    align-items: center;
    /* justify-content: center; */
}

.model-view {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.dashboard-content-avatar {
    object-fit: fill;
    width: 40px;
    height: 40px;
    margin-right: 10px;
    border-radius: 20px;
}

.dashboard-content-star {
    padding: 3px;
    width: 20px;
    height: 20px;
    margin: 6px;
}

.dashboard-content-icon {
    padding: 3px;
    width: 20px;
    height: 20px;
    margin: 6px;
}


.dashboard-content-close-icon {
    fill: green;
    padding: 3px;
    width: 20px;
    height: 20px;
    margin: 6px;
}

td span {
    margin: 0px;
    font-size: 0.60rem;
    line-height: 1.25;
    letter-spacing: 0.035em;
    opacity: 1;
    text-transform: none;
    vertical-align: unset;
    text-decoration: none;
    color: gray;
    font-weight: 700;
}

.dashboard-content-icon {
    width: 20px;
    margin-right: 10px;
}

.dashboard-content-footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.dashboard-content-footer .pagination {
    padding: 0.5rem;
    margin: 0.2rem;
    border-radius: 5px;
    background-color: #F0F2F5;
    cursor: pointer;
}

.dashboard-content-footer .active-pagination {
    padding: 0.5rem;
    margin: 0.2rem;
    border-radius: 5px;
    color: #FFFFFF;
    background-color: #2D83B5;
    cursor: pointer;
}

.empty-table {
    margin: 0px;
    font-size: 1rem;
    line-height: 1.25;
    letter-spacing: 0.035em;
    color: gray;
    font-weight: 700;
    border-color: #FFFFFF;
}

.button-81 {
    background-color: #fff;
    border: 0 solid #e2e8f0;
    border-radius: 1.5rem;

    box-sizing: border-box;
    /* color: #0d172a; */
    color: #4a95c4;
    cursor: pointer;
    display: inline-block;
    font-family: "Basier circle", -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 1.1rem;
    font-weight: 600;
    line-height: 1;
    padding: 1rem 1.6rem;
    text-align: center;
    text-decoration: none #0d172a solid;
    text-decoration-thickness: auto;
    transition: all .1s cubic-bezier(.4, 0, .2, 1);
    box-shadow: 0px 1px 2px rgba(166, 175, 195, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.closeBtn {
    width: 20%;
    margin: 0px 10px;
}

.button-81:hover {
    background-color: #176B87;
    color: #fff;
}

@media (min-width: 768px) {
    .button-81 {
        font-size: 1rem;
        /* margin-right: 25px; */
        padding: 1rem 1.5rem;
    }
}

.form-container {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    padding: 20px;
}

.label {
    font-weight: bold;
    margin-bottom: 5px;
}

.input-container {
    width: 20%;
    padding: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.buttonSubmit {
    width: 20%;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.locationBtn {
    width: 20%;
    margin-bottom: 20px;
    /* background-color: #4CAF50; */
    /* color: white; */
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.buttonSubmit:hover {
    background-color: #45a049;
}

.select-container {
    width: 20%;
    margin-bottom: 10px;
}